<h1>Welcome {{profileUser.userName}}</h1>

<h3><a href="/auth/create-room">Create a Room</a></h3>

{{#each currentRooms}}
  <div>
    <h3>{{this.name}} posted by: {{this.owner.userName}}</h3>
    <img src="{{this.imageUrl}}" alt="room" class="room-image" />
    <h6>{{this.description}}</h6>
  </div>

  {{#if this.isOwner}}
    <button><a href="/auth/delete/{{this._id}}">Delete</a></button>
    <button><a href="/auth/edit/{{this._id}}">Edit</a></button>
  {{/if}}
{{/each}}