<h1>Welcome {{profileUser.userName}}</h1>
<h3><a href="/auth/create-room">Create a Room</a></h3>
{{#each currentRooms}}
  <div>
    <h3>{{this.name}} posted by: {{this.owner.userName}}</h3>
    <img src="{{this.imageUrl}}" alt="room" class="room-image" />
    <h6>Description: {{this.description}}</h6>
    <h4>Reviews:</h4>
    {{#each this.reviews}}
      <h5>{{this.reviewOwner.userName}}-{{this.comment}}</h5>

    {{/each}}

    <form action="/auth/comment/{{this._id}}" method="POST">
      <label>Comment on this room:</label>
      <input type="textarea" name="comment" />
      <button>Comment</button>
    </form>
  </div>
  {{#if this.isOwner}}
    <button><a href="/auth/delete/{{this._id}}">Delete</a></button>
    <button><a href="/auth/edit/{{this._id}}">Edit</a></button>
  {{/if}}
{{/each}}